/**
 *      ___        _             _   _   _              
 *     | __|__ _ _| |_   ___ ___| |_| |_(_)_ _  __ _ ___
 *     | _/ _ \ ' \  _| (_-</ -_)  _|  _| | ' \/ _` (_-<
 *     |_|\___/_||_\__| /__/\___|\__|\__|_|_||_\__, /__/
 *                                             |___/    
 */

@font-face {
    font-family: "Ubuntu-Bold";
    src: url("../Fonts/Ubuntu-Bold.ttf");
}

@font-face {
    font-family: "Ubuntu-BoldItalic";
    src: url("../Fonts/Ubuntu-BoldItalic.ttf");
}

@font-face {
    font-family: "Ubuntu-Regular";
    src: url("../Fonts/Ubuntu-Regular.ttf");
}

@font-face {
    font-family: "Ubuntu-Medium";
    src: url("../Fonts/Ubuntu-Medium.ttf");
}

@font-face {
    font-family: "Ubuntu-Italic";
    src: url("../Fonts/Ubuntu-Italic.ttf");
}

@font-face {
    font-family: "Ubuntu-MediumItalic";
    src: url("../Fonts/Ubuntu-MediumItalic.ttf");
}


/**
 *      ___        _             _   _   _                       ___        _             
 *     | __|__ _ _| |_   ___ ___| |_| |_(_)_ _  __ _ ___  ___   / __|  _ __| |_ ___ _ __  
 *     | _/ _ \ ' \  _| (_-</ -_)  _|  _| | ' \/ _` (_-< |___| | (_| || (_-<  _/ _ \ '  \ 
 *     |_|\___/_||_\__| /__/\___|\__|\__|_|_||_\__, /__/        \___\_,_/__/\__\___/_|_|_|
 *                                             |___/                                      
 */

@font-face {
    font-family: "header";
    src: url("../Fonts/header.ttf") format("truetype");
}

@font-face {
    font-family: "header";
    src: url("../Fonts/header.otf") format("opentype");
}

@font-face {
    font-family: "header_Italic";
    src: url("../Fonts/header_Italic.ttf") format("truetype");
}

@font-face {
    font-family: "header_Italic";
    src: url("../Fonts/header_Italic.otf") format("opentype");
}

@font-face {
    font-family: "paragraph";
    src: url("../Fonts/paragraph.ttf") format("truetype");
}

@font-face {
    font-family: "paragraph";
    src: url("../Fonts/paragraph.otf") format("opentype");
}

@font-face {
    font-family: "paragraph_Bold";
    src: url("../Fonts/paragraph_Bold.ttf") format("truetype");
}

@font-face {
    font-family: "paragraph_Bold";
    src: url("../Fonts/paragraph_Bold.otf") format("opentype");
}

@font-face {
    font-family: "italic";
    src: url("../Fonts/italic.ttf") format("truetype");
}

@font-face {
    font-family: "italic";
    src: url("../Fonts/italic.otf") format("opentype");
}

@font-face {
    font-family: "italic_Bold";
    src: url("../Fonts/italic_Bold.ttf") format("truetype");
}

@font-face {
    font-family: "italic_Bold";
    src: url("../Fonts/italic_Bold.otf") format("opentype");
}
