/*
 *   _  _             _                   _   _   _              
 *  | || |___ __ _ __| |___ _ _   ___ ___| |_| |_(_)_ _  __ _ ___
 *  | __ / -_) _` / _` / -_) '_| (_-</ -_)  _|  _| | ' \/ _` (_-<
 *  |_||_\___\__,_\__,_\___|_|   /__/\___|\__|\__|_|_||_\__, /__/
 *                                                      |___/    
 */

.background {
    opacity: 1;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 27px;
}

header h1 {
	font-size: 75px;
	margin-bottom: 0px;
}

header h2 {
	color: #333333;
	font-size: 40px;
	font-family: "Subtitle";
}

/*
 *   ___         _                     _   _   _              
 *  | __|__  ___| |_ ___ _ _   ___ ___| |_| |_(_)_ _  __ _ ___
 *  | _/ _ \/ _ \  _/ -_) '_| (_-</ -_)  _|  _| | ' \/ _` (_-<
 *  |_|\___/\___/\__\___|_|   /__/\___|\__|\__|_|_||_\__, /__/
 *                                                   |___/    
 */

footer p {
	color: #333333;
	font-size: 50px;
	font-family: "Paragraph";

	margin-top: auto;
	margin-bottom: -17px;
}